#token-hud.bases-hud-enabled[data-bases-system='daggerheart'] .palette.status-effects .palette-category-title {
	grid-column: 1 / -1;
	display: block;
	width: 100%;
	text-align: center;
	justify-self: stretch;
}
